body {
    font-size: 16px;
    background-color: #DDDDDD;
    color: black;
}

figcaption {
  font-size: 12px;
  line-height: normal;
  margin: .5em 0;
}

h1 {
  font-size: 24px;
  line-height: normal;
  margin: .5em 0;
  }

h3 {
  font-size: 18px;
  line-height: 1.2;
  margin: .5em 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: teal;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

  p.author {
    font-size: 16.5px;
    margin: .5em 0;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
  }

  p + p {
    margin-top: 9px;
  }

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
